.heading{
    text-align: center;
    padding-top: 22px;
    padding-bottom: 5px;
    
  }
  
  hr{
    margin: 1px 14px;
  }
  
  
  .container-flex{
 
    padding: 52px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-between;
  }  